<form action="/" method="post">
  User: <input type="text" name="nombre" placeholder="Write your name">
  <br>
  Password: <input type="password" name="password" placeholder="Write your passoword">
  <br>
  <input type="submit"/>
</form>
